@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

// Variables
$list-primary-color: #838E90;
$list-secondary-color: #B89335; //complement($list-primary-color);
$list-secondary-shadow: lighten($list-secondary-color, 25%); //#B1BFC0;
$primary-border-color: #99A3A5;
$secondary-border-color: lighten($primary-border-color, 15%);

$add-task-button-background: $list-secondary-color;
$add-task-button-color: #ffffff;

$nav-hamburger-background: $list-primary-color;

// Breakpoints
$bp-narrow: 28em;
$bp-narrow-plus-1: 37.5em;

// Compass
@import "compass";
@import "compass/utilities/general/clearfix";

// Partials
//@import "partials/mixins";
@import "partials/reset";
@import "partials/navigation";
@import "partials/list";

body {
  background: white;
  
  @media (min-width: $bp-narrow-plus-1) {
    background: url(http://danbowles.com/sandbox/redesign/images/site-bg.png);
  }
}

// App
#mainApp {
  margin: 0 auto;
  background: #ffffff;
  
  @media (min-width: $bp-narrow-plus-1) {
    width: 60%;
    margin-top: 120px;
    max-width: 550px;
    border: 1px solid $primary-border-color;
    @include border-radius(2px);
    @include box-shadow(0 0 1px lighten($primary-border-color,20%) inset);
  }
  
  header {
    position: relative;
  }
  
  #task-entry {
    position: absolute;
    z-index: 1;
    width: 90%;
    text-align: right;
    right: 0;
    
    @media (min-width: $bp-narrow-plus-1) {
      width: 100%;
      background: #eeeeee;
      right: -1px;
      border: 1px solid $primary-border-color;
      top: -87px;
    }
    
    button {
      position: absolute;
      right: 0;
      top: 0;
      background: $add-task-button-background;
      color: $add-task-button-color;
      height: 46px;
      width: 45px;
      font-weight: bold;
      border: none;
      font-size: 1.3em;
      
      @media (min-width: $bp-narrow) {
        width: 85px;
      }
      
      &>span {
        display: none;
        
        @media (min-width: $bp-narrow) {
          display: inline;
        }
      }
    }
    
    input {
      @include placeholder {
        color: #555555;
        font-style: italic;
      }
      width: 100%;
      border: none;
      padding: 11px 57px 12px 5%;
      background: transparent;
      @include box-sizing(border-box);
      font-size: 1.4em;
      
      @media (min-width: $bp-narrow) {
        padding-right: 97px;
      }
    }
  }
  
  .list-title {
    padding: 0 4%;
    font-size: 2.4em;
    text-align: center;
    letter-spacing: 0.06em;
    color: $list-primary-color;
    padding-top: 66px;
    margin: 0 0 22px;
    @include text-shadow(.01em .01em 0px white,
      .08em .08em 0px $list-secondary-shadow);
    
    @media (min-width: $bp-narrow) {
      font-size: 3.2em;
      padding-top: 75px;
      @include text-shadow(.013em 0.013em 0 white,
      0.1066666664em 0.1066666664em 0px $list-secondary-shadow);
    }
    @media (min-width: $bp-narrow-plus-1) {
      font-size: 4em;
      @include text-shadow(1px 1px 0px white,
      5px 5px 0px $list-secondary-shadow);
      padding-top: 0;
      margin: 22px 0;
    }
  }
}