// Variables

/* palette - 
  #D96D32 - All
  #2A7D75 - Incomplete
  #D92042 - Complete

  #B4B565 - Nav Bg

  #416675 - Add Task Btn Bg

  #294C5D - To name

*/

$main-background: #FFFFFF;

$main-title-color: #416675;
$list-secondary-color: #B89335; //complement($list-primary-color);
$list-secondary-shadow: lighten($list-secondary-color, 25%); //#B1BFC0;
$primary-border-color: #99A3A5;
$secondary-border-color: lighten($primary-border-color, 15%);
$second-title-color: #BBBBBB;

$primary-button-background: #416675;
$primary-button-color: #FFFFFF;
$secondary-button-background: complement(invert($primary-button-background));

$delete-button-background: #B83535;

$nav-background: #FFFFFF; 
$nav-background-mobile: $primary-button-background;
$nav-hamburger-background: #FFFFFF;
$nav-item-color: #FFFFFF;

$status-all: #D96D32;
$status-incomplete: #D92042; 
$status-complete: #2A7D75;
$status-logout: #669DC9;

$msg-warning-background: darken($status-incomplete, 5%);
$msg-warning-border-color: darken($msg-warning-background, 5%);
$msg-warning-color: #FFFFFF;

$msg-info-background: $status-complete;
$msg-info-border-color: darken($msg-info-background, 25%);
$msg-info-color: #FFFFFF;

$form-input-border-color: $status-all;
$form-input-icon-color: lighten($status-all, 30%);

$main-box-shadow: 0 0 1px lighten($primary-border-color,20%) inset, 0 3px 7px rgba(#000000, 0.4);

// transitions
$ease-in-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);

// Breakpoints
$bp-narrow: 28em;
$bp-narrow-plus-1: 37.5em;
$bp-narrow-plus-2: 48.75em;

// Compass
@import "compass";
@import "compass/utilities/general/clearfix";

// Partials
@import "partials/mixins";
@import "partials/reset";
@import "partials/task-entry";
@import "partials/navigation";
@import "partials/list";
@import "partials/forms";
@import "partials/messaging";

body {
  background: #FFFFFF;
  
  @media (min-width: $bp-narrow-plus-1) {
    background: #F9F9F9;
  }
}

// App
#main {
  margin: 0 auto;
  background: #FFFFFF;

  @media (min-width: $bp-narrow-plus-1) {
    width: 60%;
    margin-top: 140px;
    max-width: 550px;
    border: 1px solid #DDDDDD;
    @include border-radius(2px);
    box-shadow: $main-box-shadow;

    &.auth {
      margin-top: 20px;
    }
  }
  
  header {
    position: relative;
  }

  .title {
    padding: 0 4%;
    font-size: 2.4em;
    text-align: center;
    letter-spacing: 0.06em;
    color: $main-title-color;
    padding-top: 16px;
    margin: 0 0 22px;
    
    @media (min-width: $bp-narrow) {
      font-size: 3.2em;
      padding-top: 75px;
      @include text-shadow(1px 1px 0px white,
      2px 2px 0px $second-title-color);
    }
    @media (min-width: $bp-narrow-plus-1) {
      font-size: 3.7em;
      padding-top: 0;
      margin: 22px 0;
    }
  }

  nav + .title {
    padding-top: 76px;
    transition: padding 0.16s $ease-in-cubic;

    .show-nav & {
      padding-top:142px;

      @media (min-width: $bp-narrow-plus-1) {
        padding-top: 0;
      }      
    }

    @media (min-width: $bp-narrow-plus-1) {
      padding-top: 0;
    }
  }

  .narrow {
    width: 80%;
    margin: 0 auto;
  }
}

.button {
  @extend %form-button;
}

footer {
  padding: 20px 0 0;
  text-align: center;

  p {
    margin: 0;
  }

  a {
    color: $status-complete;
  }
}