header
  a.go-to-nav(href='#')
    img(src='http://files.danbowles.com/assets/svg/hamburger-icon.svg')
  nav
    ul
      li: a.all.is-active(href='#') All Tasks
        span 24
      li: a.incomplete(href='#') Incomplete
        span 12
      li: a.complete(href='#') Completed
        span 12
  h1.list-title to do list