header
  div#task-entry
    form(ng-submit='createTodo()')
      input(type='text', ng-model='newTodo', placeholder='Almost forgot to...', autofocus)
      button(type='submit') +
        span &nbsp;Add
  div.go-to-nav
    a(href='#')
      img(src='assets/hamburger-icon-32.svg')
  nav
    ul
      li: a.all.is-active(href='#/all') All Tasks
        span {{todos.length}}
      li: a.incomplete(href='#/incomplete') Incomplete
        span {{incompleteCount}}
      li: a.complete(href='#/complete') Completed
        span {{completeCount}}
  h1.list-title to do list