doctype html
html
  head
    title= 'TODO!'
    link(rel='stylesheet', href='stylesheets/styles.css')
  body(ng-app='respTodo')
    block content
  // TODO - angular
  // TODO - jquery
  // TODO - app