section
  h3: span DO IT
  h5 completed?
  ol
    li(ng-repeat='task in list')
      span {{task.name}}
        div.done-checkbox
          input(type='checkbox', ng-model='task.done' id='todo-{{task._id}}')
          label(for='todo-{{task._id}}')