section
  h3: span DO IT
  h5 completed?
  ol
    li(ng-repeat='todo in list')
      span {{todo.name}}
        div.done-checkbox
          input(type='checkbox', ng-model='todo.done' id='todo-{{todo._id}}' ng-change='updateTodo(todo)')
          label(for='todo-{{todo._id}}')