/* palette - 
  #D96D32 - All
  #2A7D75 - Incomplete
  #D92042 - Complete

  #B4B565 - Nav Bg

  #416675 - Add Task Btn Bg

  #294C5D - To name

*/
/* line 2, ../../sass/partials/_reset.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 2, ../../sass/partials/_reset.scss */
body {
  margin: 0;
}

/* line 2, ../../sass/partials/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 2, ../../sass/partials/_reset.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 2, ../../sass/partials/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 2, ../../sass/partials/_reset.scss */
[hidden], template {
  display: none;
}

/* line 2, ../../sass/partials/_reset.scss */
a {
  background: transparent;
}

/* line 2, ../../sass/partials/_reset.scss */
a:active, a:hover {
  outline: 0;
}

/* line 2, ../../sass/partials/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 2, ../../sass/partials/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 2, ../../sass/partials/_reset.scss */
dfn {
  font-style: italic;
}

/* line 2, ../../sass/partials/_reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 2, ../../sass/partials/_reset.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 2, ../../sass/partials/_reset.scss */
small {
  font-size: 80%;
}

/* line 2, ../../sass/partials/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 2, ../../sass/partials/_reset.scss */
sup {
  top: -0.5em;
}

/* line 2, ../../sass/partials/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 2, ../../sass/partials/_reset.scss */
img {
  border: 0;
}

/* line 2, ../../sass/partials/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 2, ../../sass/partials/_reset.scss */
figure {
  margin: 1em 40px;
}

/* line 2, ../../sass/partials/_reset.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 2, ../../sass/partials/_reset.scss */
pre {
  overflow: auto;
}

/* line 2, ../../sass/partials/_reset.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 2, ../../sass/partials/_reset.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 2, ../../sass/partials/_reset.scss */
button {
  overflow: visible;
}

/* line 2, ../../sass/partials/_reset.scss */
button, select {
  text-transform: none;
}

/* line 2, ../../sass/partials/_reset.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 2, ../../sass/partials/_reset.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 2, ../../sass/partials/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 2, ../../sass/partials/_reset.scss */
input {
  line-height: normal;
}

/* line 2, ../../sass/partials/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* line 2, ../../sass/partials/_reset.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 2, ../../sass/partials/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 2, ../../sass/partials/_reset.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 2, ../../sass/partials/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 2, ../../sass/partials/_reset.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 2, ../../sass/partials/_reset.scss */
textarea {
  overflow: auto;
}

/* line 2, ../../sass/partials/_reset.scss */
optgroup {
  font-weight: bold;
}

/* line 2, ../../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, ../../sass/partials/_reset.scss */
td, th {
  padding: 0;
}

/* line 5, ../../sass/partials/_reset.scss */
h1, h2, h3, h4, h5, h6, li, button, input, footer {
  font-family: 'Rokkitt', serif;
}

/* line 9, ../../sass/partials/_reset.scss */
h1, h2 {
  text-transform: uppercase;
}

/* line 13, ../../sass/partials/_reset.scss */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 1, ../../sass/partials/_task-entry.scss */
#task-entry {
  position: absolute;
  z-index: 1;
  width: 90%;
  text-align: right;
  right: 0;
}
@media (min-width: 37.5em) {
  /* line 1, ../../sass/partials/_task-entry.scss */
  #task-entry {
    width: 100%;
    background: #FFFFFF;
    right: -1px;
    top: -92px;
  }
}
/* line 15, ../../sass/partials/_task-entry.scss */
#task-entry button {
  position: absolute;
  right: 0;
  top: 0;
  background: #416675;
  color: white;
  height: 55px;
  width: 55px;
  font-weight: bold;
  border: none;
  font-size: 1.3em;
}
/* line 27, ../../sass/partials/_task-entry.scss */
#task-entry button:hover {
  background: #4a7485;
}
@media (min-width: 37.5em) {
  /* line 15, ../../sass/partials/_task-entry.scss */
  #task-entry button {
    height: 45px;
    width: 85px;
  }
}
/* line 37, ../../sass/partials/_task-entry.scss */
#task-entry button > span {
  display: none;
}
@media (min-width: 37.5em) {
  /* line 37, ../../sass/partials/_task-entry.scss */
  #task-entry button > span {
    display: inline;
  }
}
/* line 46, ../../sass/partials/_task-entry.scss */
#task-entry input {
  width: 96%;
  margin-top: 9px;
  padding: 6px 57px 6px 6px;
  border: none;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow ease-in-out 0.1s;
  font-size: 1.2em;
}
/* line 2, ../../sass/partials/_mixins.scss */
#task-entry input::-webkit-input-placeholder {
  color: #676767;
  font-style: italic;
}
/* line 3, ../../sass/partials/_mixins.scss */
#task-entry input:-moz-placeholder {
  color: #676767;
  font-style: italic;
}
/* line 4, ../../sass/partials/_mixins.scss */
#task-entry input::-moz-placeholder {
  color: #676767;
  font-style: italic;
}
/* line 5, ../../sass/partials/_mixins.scss */
#task-entry input:-ms-input-placeholder {
  color: #676767;
  font-style: italic;
}
/* line 61, ../../sass/partials/_task-entry.scss */
#task-entry input:focus {
  outline: none;
}
@media (min-width: 28em) {
  /* line 46, ../../sass/partials/_task-entry.scss */
  #task-entry input {
    padding-right: 97px;
  }
}
@media (min-width: 37.5em) {
  /* line 46, ../../sass/partials/_task-entry.scss */
  #task-entry input {
    font-size: 1.4em;
    width: 100%;
    margin: 0;
    padding: 11px 57px 11px 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  }
  /* line 76, ../../sass/partials/_task-entry.scss */
  #task-entry input:focus {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.42);
  }
}

/* line 1, ../../sass/partials/_navigation.scss */
.go-to-nav {
  display: none;
}
/* line 4, ../../sass/partials/_navigation.scss */
.go-to-nav a {
  display: block;
  height: 55px;
  width: 55px;
  text-align: center;
  background: #416675;
}
/* line 11, ../../sass/partials/_navigation.scss */
.go-to-nav a:hover {
  background: #4a7485;
}
/* line 15, ../../sass/partials/_navigation.scss */
.go-to-nav a .fa {
  color: rgba(0, 0, 0, 0.5);
  line-height: 55px;
  transition: all ease-in-out 0.2s;
}
/* line 20, ../../sass/partials/_navigation.scss */
.go-to-nav a .fa:hover {
  color: rgba(0, 0, 0, 0.4);
}
/* line 24, ../../sass/partials/_navigation.scss */
.show-nav .go-to-nav a .fa {
  transform: rotate(90deg);
  color: #FFFFFF;
}
@media (max-width: 37.5em) {
  /* line 1, ../../sass/partials/_navigation.scss */
  .go-to-nav {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    background: #416675;
    display: block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  }
}

/* line 42, ../../sass/partials/_navigation.scss */
nav {
  position: absolute;
  left: 0;
  top: 55px;
  width: 100%;
  text-align: center;
  display: none;
  z-index: 1;
}
/* line 51, ../../sass/partials/_navigation.scss */
.show-nav nav {
  display: block;
}
@media (min-width: 37.5em) {
  /* line 42, ../../sass/partials/_navigation.scss */
  nav {
    top: 0;
    position: fixed;
    z-index: 1;
    display: block;
  }
}
/* line 62, ../../sass/partials/_navigation.scss */
nav ul {
  margin: 0 auto;
}
@media (min-width: 37.5em) {
  /* line 62, ../../sass/partials/_navigation.scss */
  nav ul {
    max-width: 550px;
  }
}
/* line 71, ../../sass/partials/_navigation.scss */
nav li a {
  display: block;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3em;
  background: white;
  transition: all ease-in-out 0.2s;
}
/* line 81, ../../sass/partials/_navigation.scss */
nav li a:hover span {
  background: #ffffff;
}
/* line 85, ../../sass/partials/_navigation.scss */
nav li a .count {
  width: 21px;
  margin-left: 10px;
  padding: 5px 0;
  font-family: sans-serif;
  font-size: .7em;
  font-weight: bold;
  display: inline-block;
  color: #FFFFFF;
  line-height: 1em;
  border-radius: 1em;
  transition: all ease-in-out 0.2s;
}
/* line 99, ../../sass/partials/_navigation.scss */
nav li a.all {
  color: #d96d32;
}
/* line 20, ../../sass/partials/_mixins.scss */
nav li a.all .count {
  background: #d96d32;
}
/* line 24, ../../sass/partials/_mixins.scss */
nav li a.all.active, nav li a.all:hover {
  color: #FFFFFF;
  background: #d96d32;
  box-shadow: 0 2px 5px rgba(182, 86, 34, 0.3);
}
/* line 29, ../../sass/partials/_mixins.scss */
nav li a.all.active .count, nav li a.all:hover .count {
  background: #FFFFFF;
  color: #d96d32;
}
/* line 103, ../../sass/partials/_navigation.scss */
nav li a.complete {
  color: #2a7d75;
}
/* line 20, ../../sass/partials/_mixins.scss */
nav li a.complete .count {
  background: #2a7d75;
}
/* line 24, ../../sass/partials/_mixins.scss */
nav li a.complete.active, nav li a.complete:hover {
  color: #FFFFFF;
  background: #2a7d75;
  box-shadow: 0 2px 5px rgba(29, 87, 81, 0.3);
}
/* line 29, ../../sass/partials/_mixins.scss */
nav li a.complete.active .count, nav li a.complete:hover .count {
  background: #FFFFFF;
  color: #2a7d75;
}
/* line 107, ../../sass/partials/_navigation.scss */
nav li a.incomplete {
  color: #d92042;
}
/* line 20, ../../sass/partials/_mixins.scss */
nav li a.incomplete .count {
  background: #d92042;
}
/* line 24, ../../sass/partials/_mixins.scss */
nav li a.incomplete.active, nav li a.incomplete:hover {
  color: #FFFFFF;
  background: #d92042;
  box-shadow: 0 2px 5px rgba(173, 25, 52, 0.3);
}
/* line 29, ../../sass/partials/_mixins.scss */
nav li a.incomplete.active .count, nav li a.incomplete:hover .count {
  background: #FFFFFF;
  color: #d92042;
}
/* line 112, ../../sass/partials/_navigation.scss */
nav li:last-child {
  box-shadow: 0 0 40px;
}
@media (min-width: 37.5em) {
  /* line 70, ../../sass/partials/_navigation.scss */
  nav li {
    float: left;
    width: 33.333333333%;
  }
  /* line 119, ../../sass/partials/_navigation.scss */
  nav li a {
    background: transparent;
  }
  /* line 123, ../../sass/partials/_navigation.scss */
  nav li:last-child {
    box-shadow: none;
  }
}

/* line 6, ../../sass/partials/_list.scss */
.list-content {
  padding: 0 2%;
  margin-bottom: 2em;
}
@media (min-width: 28em) {
  /* line 6, ../../sass/partials/_list.scss */
  .list-content {
    padding: 0 4%;
  }
}
/* line 14, ../../sass/partials/_list.scss */
.list-content .empty-list {
  text-align: center;
  color: #999999;
}
/* line 18, ../../sass/partials/_list.scss */
.list-content .empty-list .fa {
  color: #edba9e;
  text-shadow: 1px 1px 0 #FFFFFF, 2px 2px 0 #CCCCCC;
}
/* line 25, ../../sass/partials/_list.scss */
.list-content ol {
  margin: 0;
  padding: 0;
  counter-reset: counter;
}
/* line 30, ../../sass/partials/_list.scss */
.list-content ol > li {
  position: relative;
  padding: 12px 12px 0;
  margin-bottom: 5px;
  color: #444444;
}
/* line 36, ../../sass/partials/_list.scss */
.list-content ol > li.complete {
  color: #aaaaaa;
}
/* line 39, ../../sass/partials/_list.scss */
.list-content ol > li.complete span {
  text-decoration: line-through;
}
/* line 45, ../../sass/partials/_list.scss */
.list-content ol > li.editing .modify {
  display: block;
}
/* line 49, ../../sass/partials/_list.scss */
.list-content ol > li.editing .view {
  display: none;
}
/* line 53, ../../sass/partials/_list.scss */
.list-content ol > li.editing:before {
  visibility: hidden;
}
/* line 58, ../../sass/partials/_list.scss */
.list-content ol > li:before {
  display: inline-block;
  position: relative;
  float: left;
  font-weight: bold;
  color: #d92042;
  counter-increment: counter;
  content: counter(counter,decimal-leading-zero);
  background: white;
  height: 28px;
  width: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 18.66667px;
  line-height: 28px;
  border: 2px solid #d92042;
  transition: background ease-in-out 0.2s, color ease-in-out 0.2s;
}
/* line 73, ../../sass/partials/_list.scss */
.list-content ol > li.complete:before {
  background: #2a7d75;
  line-height: 2em;
  height: 2em;
  width: 2em;
  color: #FFFFFF;
  border: none;
}
/* line 82, ../../sass/partials/_list.scss */
.list-content ol > li span {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.2em;
  border-bottom: 3px solid #CCCCCC;
  display: block;
  margin: 0 2.5em;
  padding: 0 10px 10px;
}
/* line 91, ../../sass/partials/_list.scss */
.list-content ol > li input[type=checkbox] {
  visibility: hidden;
}
/* line 95, ../../sass/partials/_list.scss */
.list-content ol > li label {
  cursor: pointer;
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  right: 9px;
  top: 9px;
  border: 3px solid #99a3a5;
  transition: all ease-in-out 0.2s;
}
/* line 106, ../../sass/partials/_list.scss */
.list-content ol > li label:after {
  content: '';
  position: absolute;
  display: block;
  height: 17px;
  width: 6px;
  right: 9px;
  top: 2px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 2px solid transparent;
  border-width: 0 5px 5px 0;
  opacity: 0;
  transition: all ease-in-out 0.2s;
}
/* line 121, ../../sass/partials/_list.scss */
.list-content ol > li label:hover {
  border-color: #2a7d75;
  border-radius: 50%;
}
/* line 125, ../../sass/partials/_list.scss */
.list-content ol > li label:hover:after {
  border-color: #DDDDDD;
  opacity: 1.0;
}
/* line 132, ../../sass/partials/_list.scss */
.list-content ol > li.complete label {
  border-color: #2a7d75;
  border-radius: 50%;
}
/* line 136, ../../sass/partials/_list.scss */
.list-content ol > li.complete label:after {
  border-color: #2a7d75;
}
/* line 141, ../../sass/partials/_list.scss */
.list-content ol > li input[type=checkbox]:checked + label:after {
  opacity: 1;
}
/* line 145, ../../sass/partials/_list.scss */
.list-content ol > li .modify {
  display: none;
  margin: 0 0 0 3em;
}
/* line 152, ../../sass/partials/_list.scss */
.list-content .done-checkbox {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 158, ../../sass/partials/_list.scss */
.list-content input.edit {
  font-family: 'Gloria Hallelujah', cursive;
  color: #444;
  padding: 0 10px 10px 10px;
  border-width: 0 0 3px;
  border-color: #d96d32;
  font-size: 1.2em;
  display: block;
  width: 100%;
  outline: none;
  box-sizing: border-box;
}
/* line 171, ../../sass/partials/_list.scss */
.list-content button.delete {
  position: absolute;
  top: 12px;
  left: 12px;
  color: white;
  border: none;
  outline: none;
  white-space: nowrap;
  -webkit-transition: all ease-in-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background: #b83535;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 1.33333em;
}
/* line 182, ../../sass/partials/_list.scss */
.list-content button.delete:hover {
  background: #a42f2f;
}

/* line 53, ../../sass/styles.scss */
body {
  background: #FFFFFF;
}
@media (min-width: 37.5em) {
  /* line 53, ../../sass/styles.scss */
  body {
    background: #F9F9F9;
  }
}

/* line 62, ../../sass/styles.scss */
#main {
  margin: 0 auto;
  background: #FFFFFF;
}
@media (min-width: 37.5em) {
  /* line 62, ../../sass/styles.scss */
  #main {
    width: 60%;
    margin-top: 140px;
    max-width: 550px;
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 0 1px #cfd4d5 inset, 0 3px 7px rgba(0, 0, 0, 0.4);
  }
}
/* line 76, ../../sass/styles.scss */
#main header {
  position: relative;
}
/* line 80, ../../sass/styles.scss */
#main footer {
  text-align: center;
}
/* line 83, ../../sass/styles.scss */
#main footer a {
  color: #2a7d75;
}
/* line 90, ../../sass/styles.scss */
#main .list-title {
  padding: 0 4%;
  font-size: 2.4em;
  text-align: center;
  letter-spacing: 0.06em;
  color: #416675;
  padding-top: 76px;
  margin: 0 0 22px;
}
@media (min-width: 28em) {
  /* line 90, ../../sass/styles.scss */
  #main .list-title {
    font-size: 3.2em;
    padding-top: 75px;
    text-shadow: 1px 1px 0px white, 2px 2px 0px #bbbbbb;
  }
}
@media (min-width: 37.5em) {
  /* line 90, ../../sass/styles.scss */
  #main .list-title {
    font-size: 4em;
    padding-top: 0;
    margin: 22px 0;
  }
}
