/* line 2, ../../sass/partials/_reset.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 2, ../../sass/partials/_reset.scss */
body {
  margin: 0;
}

/* line 2, ../../sass/partials/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 2, ../../sass/partials/_reset.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 2, ../../sass/partials/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 2, ../../sass/partials/_reset.scss */
[hidden], template {
  display: none;
}

/* line 2, ../../sass/partials/_reset.scss */
a {
  background: transparent;
}

/* line 2, ../../sass/partials/_reset.scss */
a:active, a:hover {
  outline: 0;
}

/* line 2, ../../sass/partials/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 2, ../../sass/partials/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 2, ../../sass/partials/_reset.scss */
dfn {
  font-style: italic;
}

/* line 2, ../../sass/partials/_reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 2, ../../sass/partials/_reset.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 2, ../../sass/partials/_reset.scss */
small {
  font-size: 80%;
}

/* line 2, ../../sass/partials/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 2, ../../sass/partials/_reset.scss */
sup {
  top: -0.5em;
}

/* line 2, ../../sass/partials/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 2, ../../sass/partials/_reset.scss */
img {
  border: 0;
}

/* line 2, ../../sass/partials/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 2, ../../sass/partials/_reset.scss */
figure {
  margin: 1em 40px;
}

/* line 2, ../../sass/partials/_reset.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 2, ../../sass/partials/_reset.scss */
pre {
  overflow: auto;
}

/* line 2, ../../sass/partials/_reset.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 2, ../../sass/partials/_reset.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 2, ../../sass/partials/_reset.scss */
button {
  overflow: visible;
}

/* line 2, ../../sass/partials/_reset.scss */
button, select {
  text-transform: none;
}

/* line 2, ../../sass/partials/_reset.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 2, ../../sass/partials/_reset.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 2, ../../sass/partials/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 2, ../../sass/partials/_reset.scss */
input {
  line-height: normal;
}

/* line 2, ../../sass/partials/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* line 2, ../../sass/partials/_reset.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 2, ../../sass/partials/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 2, ../../sass/partials/_reset.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 2, ../../sass/partials/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 2, ../../sass/partials/_reset.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 2, ../../sass/partials/_reset.scss */
textarea {
  overflow: auto;
}

/* line 2, ../../sass/partials/_reset.scss */
optgroup {
  font-weight: bold;
}

/* line 2, ../../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, ../../sass/partials/_reset.scss */
td, th {
  padding: 0;
}

/* line 5, ../../sass/partials/_reset.scss */
h1, h2, h3, h4, h5, h6, li, button, input {
  font-family: 'Rokkitt', serif;
}

/* line 9, ../../sass/partials/_reset.scss */
h1, h2 {
  text-transform: uppercase;
}

/* line 13, ../../sass/partials/_reset.scss */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 1, ../../sass/partials/_navigation.scss */
.go-to-nav {
  display: none;
}
/* line 4, ../../sass/partials/_navigation.scss */
.go-to-nav a {
  display: block;
  height: 45px;
  width: 45px;
  background: #838e90;
}
/* line 10, ../../sass/partials/_navigation.scss */
.go-to-nav a img {
  margin: auto;
  display: block;
  padding-top: 6px;
}
/* line 17, ../../sass/partials/_navigation.scss */
.show-nav .go-to-nav img {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
@media (max-width: 37.5em) {
  /* line 1, ../../sass/partials/_navigation.scss */
  .go-to-nav {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    background: #eeeeee;
    border-bottom: 1px solid #99a3a5;
    display: block;
  }
}

/* line 32, ../../sass/partials/_navigation.scss */
nav {
  position: absolute;
  left: 0;
  top: 51px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #99a3a5;
  background: #eeeeee;
  display: none;
}
/* line 42, ../../sass/partials/_navigation.scss */
.show-nav nav {
  display: block;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}
@media (min-width: 37.5em) {
  /* line 32, ../../sass/partials/_navigation.scss */
  nav {
    top: 0;
    position: fixed;
    z-index: 1;
    display: block;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  }
}
/* line 56, ../../sass/partials/_navigation.scss */
nav ul {
  margin: 0 auto;
}
@media (min-width: 37.5em) {
  /* line 56, ../../sass/partials/_navigation.scss */
  nav ul {
    max-width: 550px;
  }
}
/* line 65, ../../sass/partials/_navigation.scss */
nav li a {
  display: block;
  position: relative;
  color: #99a3a5;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.5em;
  background: #eeeeee;
}
/* line 75, ../../sass/partials/_navigation.scss */
nav li a:hover, nav li a:active {
  background: #e1e1e1;
}
/* line 81, ../../sass/partials/_navigation.scss */
nav li a.complete {
  background: #838e90;
  color: white;
}
/* line 85, ../../sass/partials/_navigation.scss */
nav li a.complete:hover, nav li a.complete:active {
  background: #737f81;
}
/* line 90, ../../sass/partials/_navigation.scss */
nav li a.incomplete {
  background: #b89335;
  color: white;
}
/* line 94, ../../sass/partials/_navigation.scss */
nav li a.incomplete:hover, nav li a.incomplete:active {
  background: #a0802e;
}
/* line 101, ../../sass/partials/_navigation.scss */
nav li a.all {
  background: #eeeeee;
  color: #99a3a5;
}
/* line 105, ../../sass/partials/_navigation.scss */
nav li a.all:hover, nav li a.all:active {
  background: #dfdfdf;
}
/* line 109, ../../sass/partials/_navigation.scss */
nav li a.all.is-active {
  background: white;
}
/* line 112, ../../sass/partials/_navigation.scss */
nav li a.all.is-active span {
  background: #eeeeee;
}
/* line 118, ../../sass/partials/_navigation.scss */
nav li a span {
  margin-left: 10px;
  font-family: sans-serif;
  font-size: .7em;
  font-weight: bold;
  display: inline-block;
  padding: 4px;
  background: white;
  color: #99a3a5;
  line-height: 1em;
}
@media (min-width: 37.5em) {
  /* line 64, ../../sass/partials/_navigation.scss */
  nav li {
    float: left;
    width: 33.333333333%;
  }
}

/* line 1, ../../sass/partials/_list.scss */
.list-content {
  padding: 0 2%;
  margin-bottom: 2em;
}
@media (min-width: 28em) {
  /* line 1, ../../sass/partials/_list.scss */
  .list-content {
    padding: 0 4%;
  }
}
/* line 9, ../../sass/partials/_list.scss */
.list-content h3 {
  border: 2px solid #99a3a5;
  border-width: 2px 0;
  color: #b89335;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
@media (min-width: 28em) {
  /* line 9, ../../sass/partials/_list.scss */
  .list-content h3 {
    font-size: 1.5em;
  }
}
/* line 22, ../../sass/partials/_list.scss */
.list-content h3 span {
  margin: 2px 0;
  padding: 6px 0;
  display: block;
  border: 1px dashed #c2c8c9;
  border-width: 1px 0;
}
/* line 31, ../../sass/partials/_list.scss */
.list-content h5 {
  color: #99a3a5;
  margin: -12px 0 2px;
  text-align: right;
}
/* line 37, ../../sass/partials/_list.scss */
.list-content ol {
  margin: 0;
  padding: 0;
  counter-reset: counter;
}
/* line 42, ../../sass/partials/_list.scss */
.list-content ol > li {
  position: relative;
  padding: 12px 12px 0;
  margin-bottom: 5px;
}
/* line 47, ../../sass/partials/_list.scss */
.list-content ol > li:before {
  position: relative;
  background: #b89335;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  color: white;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  border-radius: 2em;
  -webkit-box-shadow: 0 5px 0 #e4d1a2;
  -moz-box-shadow: 0 5px 0 #e4d1a2;
  box-shadow: 0 5px 0 #e4d1a2;
  display: inline-block;
  counter-increment: counter;
  content: counter(counter,decimal-leading-zero);
  margin-right: 1em;
  float: left;
}
/* line 65, ../../sass/partials/_list.scss */
.list-content ol > li span {
  font-family: 'Gloria Hallelujah', cursive;
  color: #444444;
  font-size: 1.2em;
  border-bottom: 1px solid #99A3A5;
  display: block;
  margin: 0 2.5em;
  padding: 0 10px 10px;
}
/* line 74, ../../sass/partials/_list.scss */
.list-content ol > li input[type=checkbox] {
  visibility: hidden;
}
/* line 78, ../../sass/partials/_list.scss */
.list-content ol > li label {
  cursor: pointer;
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  right: 9px;
  top: 9px;
  border: 3px solid #b89335;
  background: transparent;
}
/* line 89, ../../sass/partials/_list.scss */
.list-content ol > li label:after {
  content: '';
  position: absolute;
  display: block;
  height: 17px;
  width: 6px;
  right: 9px;
  top: 2px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 2px solid #838e90;
  border-width: 0 5px 5px 0;
  background: transparent;
  opacity: 0;
}
/* line 105, ../../sass/partials/_list.scss */
.list-content ol > li input[type=checkbox]:checked + label:after {
  opacity: 1;
}
/* line 111, ../../sass/partials/_list.scss */
.list-content .done-checkbox {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 34, ../../sass/styles.scss */
body {
  background: white;
}
@media (min-width: 37.5em) {
  /* line 34, ../../sass/styles.scss */
  body {
    background: url(http://danbowles.com/sandbox/redesign/images/site-bg.png);
  }
}

/* line 43, ../../sass/styles.scss */
#mainApp {
  margin: 0 auto;
  background: #ffffff;
}
@media (min-width: 37.5em) {
  /* line 43, ../../sass/styles.scss */
  #mainApp {
    width: 60%;
    margin-top: 120px;
    max-width: 550px;
    border: 1px solid #99a3a5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 1px #cfd4d5 inset;
    -moz-box-shadow: 0 0 1px #cfd4d5 inset;
    box-shadow: 0 0 1px #cfd4d5 inset;
  }
}
/* line 56, ../../sass/styles.scss */
#mainApp header {
  position: relative;
}
/* line 60, ../../sass/styles.scss */
#mainApp #task-entry {
  position: absolute;
  z-index: 1;
  width: 90%;
  text-align: right;
  right: 0;
}
@media (min-width: 37.5em) {
  /* line 60, ../../sass/styles.scss */
  #mainApp #task-entry {
    width: 100%;
    background: #eeeeee;
    right: -1px;
    border: 1px solid #99a3a5;
    top: -87px;
  }
}
/* line 75, ../../sass/styles.scss */
#mainApp #task-entry button {
  position: absolute;
  right: 0;
  top: 0;
  background: #b89335;
  color: white;
  height: 47px;
  width: 45px;
  font-weight: bold;
  border: none;
  font-size: 1.3em;
}
@media (min-width: 28em) {
  /* line 75, ../../sass/styles.scss */
  #mainApp #task-entry button {
    width: 85px;
  }
}
/* line 91, ../../sass/styles.scss */
#mainApp #task-entry button > span {
  display: none;
}
@media (min-width: 28em) {
  /* line 91, ../../sass/styles.scss */
  #mainApp #task-entry button > span {
    display: inline;
  }
}
/* line 100, ../../sass/styles.scss */
#mainApp #task-entry input {
  width: 100%;
  border: none;
  padding: 11px 57px 12px 5%;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.4em;
}
/* line 2, ../../sass/styles.scss */
#mainApp #task-entry input::-webkit-input-placeholder {
  color: #676767;
  font-style: italic;
}
/* line 3, ../../sass/styles.scss */
#mainApp #task-entry input:-moz-placeholder {
  color: #676767;
  font-style: italic;
}
/* line 4, ../../sass/styles.scss */
#mainApp #task-entry input::-moz-placeholder {
  color: #676767;
  font-style: italic;
}
/* line 5, ../../sass/styles.scss */
#mainApp #task-entry input:-ms-input-placeholder {
  color: #676767;
  font-style: italic;
}
/* line 106, ../../sass/styles.scss */
#mainApp #task-entry input:focus {
  outline: none;
}
@media (min-width: 28em) {
  /* line 100, ../../sass/styles.scss */
  #mainApp #task-entry input {
    padding-right: 97px;
  }
}
/* line 123, ../../sass/styles.scss */
#mainApp .list-title {
  padding: 0 4%;
  font-size: 2.4em;
  text-align: center;
  letter-spacing: 0.06em;
  color: #838e90;
  padding-top: 66px;
  margin: 0 0 22px;
  text-shadow: 0.01em 0.01em 0px white, 0.08em 0.08em 0px #dec88e;
}
@media (min-width: 28em) {
  /* line 123, ../../sass/styles.scss */
  #mainApp .list-title {
    font-size: 3.2em;
    padding-top: 75px;
    text-shadow: 0.013em 0.013em 0 white, 0.10667em 0.10667em 0px #dec88e;
  }
}
@media (min-width: 37.5em) {
  /* line 123, ../../sass/styles.scss */
  #mainApp .list-title {
    font-size: 4em;
    text-shadow: 1px 1px 0px white, 5px 5px 0px #dec88e;
    padding-top: 0;
    margin: 22px 0;
  }
}
