form.auth {
  label {
    position: relative;
    display: block;

    .fa {
      position: absolute;
      top: 13%;
      left: 2%;
      color: $form-input-icon-color;
    }
  }

  input {
    @extend %input-main;
    margin-bottom: 17px;
    padding-left: 40px;
  }

  .button.secondary {
    float: right;
  }
}

p.or {
  text-align: center;
  margin: 2em 0;

  &:before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    border-bottom: 2px solid #aaaaaa;
    position: relative;
    top: 11px;
  }

  span {
    font-size: 0.8em;
    color: #999999;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 50%;
    position: relative;
    font-weight: bold;
    border: solid 2px #aaaaaa;
  }
  
}

p.social-login {
  a {
    display: block;
    transition: all 0.16s ease-in-out;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 8%;
    margin-bottom: 10px;
    position: relative;

    span {
      position: absolute;
      display: block;
      width: 84%;
      text-align: center;
      top: 33%;
    }

    &.facebook {
      background: #3C599B;

      &:hover {
        background: lighten(#3C599B, 6%);
      }
    }

    &.twitter {
      background: #55ACEE;

      &:hover {
        background: lighten(#55ACEE, 6%);
      }
    }

    &.google-plus {
      background: #DD4B39;

      &:hover {
        background: lighten(#DD4B39, 6%);
      }
    }
  }
}