$list-item-text-color: #444444;

.content {
  padding: 0 2%;
  margin-bottom: 2em;
  
  @media (min-width: $bp-narrow) {
    padding: 0 4%;
  }
  
  .empty-list {
    text-align: center;
    color: #999999;

    .fa {
      color: lighten($status-all, 25%);
      text-shadow: 1px 1px 0 #FFFFFF,
        2px 2px 0 #CCCCCC;
    }
  }

  ol {
    margin: 0;
    padding: 0;
    counter-reset: counter;
  
    > li {
      position: relative;
      padding: 12px 12px 0;
      margin-bottom: 5px;
      color: $list-item-text-color;

      &.complete {
        color: lighten($list-item-text-color, 40%);

        span {
          text-decoration: line-through;
        }
      }

      &.editing {
        .modify {
          display: block;
        }

        .view {
          display: none;
        }

        &:before {
          visibility: hidden;
        }
      }
      
      &:before {
        display: inline-block;
        position: relative;
        float: left;
        font-weight: bold;
        color: $status-incomplete;
        counter-increment: counter;
        content: counter(counter, decimal-leading-zero);
        @include shaded-circle(28px, #FFFFFF);
        line-height: 28px;
        border: 2px solid $status-incomplete; 
        transition: background ease-in-out 0.2s,
          color ease-in-out 0.2s;
      }
      
      &.complete:before {
        background: $status-complete;
        line-height: 2em;
        height: 2em;
        width: 2em;
        color: #FFFFFF;
        border: none;
      }
      
      span {
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 1.2em;
        border-bottom: 3px solid #CCCCCC;
        display: block;
        margin: 0 2.5em;
        padding: 0 10px 10px;
      }

      input[type=checkbox] {
        visibility: hidden;
      }
      
      label {
        cursor: pointer;
        position: absolute;
        display: block;
        height: 30px;
        width: 30px;
        right: 9px;
        top: 9px;
        border: 3px solid $primary-border-color;
        transition: all ease-in-out 0.2s;
        
        &:after {
          content: '';
          position: absolute;
          display: block;
          height: 17px;
          width: 6px;
          right: 9px;
          top: 2px;
          @include rotate(45deg);
          border: 2px solid transparent;
          border-width: 0 5px 5px 0;
          opacity: 0;
          transition: all ease-in-out 0.2s;
        }

        &:hover {
          border-color: $status-complete;
          border-radius: 50%;

          &:after {
            border-color: #DDDDDD;
            opacity: 1.0;
          }
        }
      }

      &.complete label {
        border-color: $status-complete;
        border-radius: 50%;

        &:after {
          border-color: $status-complete;
        }
      }
      
      input[type=checkbox]:checked + label:after {
        opacity: 1;
      }

      .modify {
        display: none;
        margin: 0 0 0 3em;
      }
    }
  } // end ol
   
  .done-checkbox {
    position: absolute;
    top: 0;
    right: 0;
  }

  input.edit {
    @extend %input-main;
  }

  button.delete {
    position: absolute;
    top: 12px;
    left: 12px;
    color: white;
    border: none;
    outline: none;
    white-space: nowrap;
    @include transition(all ease-in-out 0.2s);
    @include shaded-circle(2em, $delete-button-background);

    &:hover {
      background: darken($delete-button-background, 5%);
    }
  }
}