@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

@mixin shaded-circle($diameter, $background, $hoverable: false) {
  background: $background;
  height: $diameter;
  width: $diameter;
  line-height: $diameter;
  text-align: center;
  border-radius: $diameter / 1.5;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin nav-item-color($color) {
  color: $color;

  .count {
    background: $color;
  }

  &.active, &:hover {
    color: #FFFFFF;
    background: $color;
    box-shadow: 0 2px 5px rgba(darken($color, 10%), 0.3);

    .count {
      background: #FFFFFF;
      color: $color;
    }
  }
}

%input-main {
  font-family: 'Gloria Hallelujah', cursive;
  color: #444;
  padding: 0 10px 10px 10px;
  border-width: 0 0 3px;
  border-color: $form-input-border-color;
  font-size: 1.2em;
  display: block;
  width: 100%;
  outline: none;
  box-sizing: border-box;
}

%form-button {
  padding: 10px 14px;
  border: none;
  text-decoration: none;
  background: $primary-button-background;
  color: $primary-button-color;
  font-weight: bold;
  font-size: 1.3em;
  
  &:hover {
    background: lighten($primary-button-background, 5%);
  }

  &.secondary {
    background: $secondary-button-background;

    .button + & {
      margin-left: 16px;
    }

      &:hover {
      background: lighten($secondary-button-background, 5%);
    }
  }
}

%user-messaging {
  padding: .8em;
  border: 1px solid;
}