@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

@mixin shaded-circle($diameter, $background, $hoverable: false) {
  background: $background;
  height: $diameter;
  width: $diameter;
  line-height: $diameter;
  text-align: center;
  border-radius: $diameter / 2;
}

@mixin nav-item-color($color) {
  color: $color;

  .count {
    background: $color;
  }

  &.active, &:hover {
    color: #FFFFFF;
    background: $color;
    box-shadow: 0 2px 5px rgba(darken($color, 10%), 0.3);

    .count {
      background: #FFFFFF;
      color: $color;
    }
  }
}
