.go-to-nav {
  display: none;
  
  a {
    display: block;
    height: 45px;
    width: 45px;
    text-align: center;
    background: #FFFFFF;
    border-right: 1px solid $primary-border-color;

    .fa {
      color: $nav-hamburger-background;
      line-height: 45px;
      transition: all ease-in-out 0.2s;

      .show-nav & {
        transform: rotate(90deg);
      }
    }
  }
  
  @media(max-width: $bp-narrow-plus-1) {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    background: rgba(#eeeeee, 1);
    border-bottom: 1px solid $primary-border-color;
    display: block;
  }
}

nav {
  position: absolute;
  left: 0;
  top: 46px;
  width: 100%;
  text-align: center;
  display: none;
  background: #FFFFFF;

  .show-nav & {
    display: block;
  }
  
  @media(min-width: $bp-narrow-plus-1) {
    top: 0;
    position: fixed;
    z-index: 1;
    display: block;
  }
  
  ul {
    margin: 0 auto;
    
    @media(min-width: $bp-narrow-plus-1) {
      max-width: 550px;
    }
  }
  
  li {
    a {
      display: block;
      position: relative;
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 3em;
      background: white;
      transition: all ease-in-out 0.2s;
      
      &:hover span {
        background: #ffffff;
      }

      & .count {
        width: 21px;
        margin-left: 10px;
        padding: 5px 0;
        font-family: sans-serif;
        font-size: .7em;
        font-weight: bold;
        display: inline-block;
        color: #FFFFFF;
        line-height: 1em;
        border-radius: 1em;
        transition: all ease-in-out 0.2s;
      }

      &.all {
        @include nav-item-color(#D96D32);
      }

      &.complete {
        @include nav-item-color(#2A7D75);
      }

      &.incomplete {
        @include nav-item-color(#D92042);
      }
      // TODO: Make mixin/function to abstract
      //       out nav filter css      
    }
    
    &:last-child {
      box-shadow: 0 0 40px;
    }

    @media (min-width: $bp-narrow-plus-1) {
      float: left;
      width: 33.333333333%;

      &:last-child {
        box-shadow: none;
      }
    }
  }
}