.go-to-nav {
  display: none;
  
  a {
    display: block;
    height: 45px;
    width: 45px;
    background: $nav-hamburger-background;
    
    img {
      margin: auto;
      display: block;
      padding-top: 6px;
    }
  }
  
  .show-nav & img {
    @include transform(rotate(90deg));
  }
  
  @media(max-width: $bp-narrow-plus-1) {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    background: rgba(#eeeeee, 1);
    border-bottom: 1px solid $primary-border-color;
    display: block;
  }
}

nav {
  position: absolute;
  left: 0;
  top: 51px;
  width: 100%;
  text-align: center;
  background: $nav-background;
  display: none;

  .show-nav & {
    display: block;
  }
  
  
  @media(min-width: $bp-narrow-plus-1) {
    top: 0;
    position: fixed;
    z-index: 1;
    display: block;
  }
  
  ul {
    margin: 0 auto;
    
    @media(min-width: $bp-narrow-plus-1) {
      max-width: 550px;
    }
  }
  
  li {
    a {
      display: block;
      position: relative;
      color: $nav-item-color;
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 2.5em;
      
      &:hover span {
        background: #ffffff;
      }

      & span {
        width: 21px;
        margin-left: 10px;
        padding: 5px 0;
        font-family: sans-serif;
        font-size: .7em;
        font-weight: bold;
        display: inline-block;
        background: #D96D32;
        color: #FFFFFF;
        line-height: 1em;
        @include border-radius(1em);
      }

      &.all, &.all {
        @include nav-item-color(#D96D32);
      }

      &.complete {
        @include nav-item-color(#2A7D75);
      }

      &.incomplete {
        @include nav-item-color(#D92042);
      }
      // TODO: Make mixin/function to abstract
      //       out nav filter css      
    }
    
    @media (min-width: $bp-narrow-plus-1) {
      float: left;
      width: 33.333333333%;
    }
  }
}