  #task-entry {
    position: absolute;
    z-index: 3;
    width: 76%;
    text-align: right;
    right: 0;
    margin-right: 30px;
    
    @media (min-width: $bp-narrow-plus-1) {
      width: 100%;
      background: #FFFFFF;
      right: -1px;
      top: -92px;
      z-index: 1;
    }
    
    .button {
      padding: 15px 19px;
      position: absolute;
      right: 0;
      top: 0;

      @media (min-width: $bp-narrow-plus-1) {
        padding: 10px 14px;
      }
      
      &>span {
        display: none;
        
        @media (min-width: $bp-narrow-plus-1) {
          display: inline;
        }
      }
    }
    
    input {
      width: 84%;
      margin: 9px auto 0;
      padding: 6px;
      float: left;
      border: none;
      background: #FFFFFF;
      @include box-sizing(border-box);
      transition: box-shadow ease-in-out 0.16s;
      font-size: 1.2em;
      border: 1px solid darken($nav-background-mobile, 10%);
      
      @include placeholder {
        color: #676767;
        font-style: italic;
      }

      &:focus {
        outline: none;
      }

      @media (min-width: $bp-narrow-plus-1) {
        float: none;
        font-size: 1.4em;
        width: 100%;
        margin: 0;
        padding: 11px 57px 11px 5%;
        box-shadow: 0 2px 5px rgba(#000000, 0.4);
        border: none;
        
        &:focus {
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.42);
        }
      }
    }
  }