header
  if user
    div#task-entry
      form(ng-submit='createTodo()')
        input(type='text', ng-model='newTodo', placeholder='Almost forgot to...', autofocus)
        button.button(type='submit')
          i.fa.fa-plus
          span &nbsp;Add
    div.go-to-nav
      a(href='#')
        i.fa.fa-bars
    nav
      ul
        li: a.all(href='#/all', ng-class='{active: isActive("/all")}') 
          i.fa.fa-asterisk.fa-3x
          i.fa.fa-asterisk.fa-2x
          span.text  All Tasks
          span.count {{todos.length}}
        li: a.incomplete(href='#/incomplete', ng-class='{active: isActive("/incomplete")}')
          i.fa.fa-circle-o.fa-3x
          i.fa.fa-circle-o.fa-2x
          span.text  Incomplete
          span.count {{incompleteCount}}
        li: a.complete(href='#/complete', ng-class='{active: isActive("/complete")}')
          i.fa.fa-check-circle.fa-3x
          i.fa.fa-check-circle.fa-2x
          span.text  Completed
          span.count {{completeCount}}
  h1.title 
    i.fa.fa-check-circle-o
    |  todoin'