doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='initial-scale=1')
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Rokkitt:400,700')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Shadows+Into+Light')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    link(rel='stylesheet', href='stylesheets/styles.css')
  body(ng-app='respTodo')
    section(id='main', ng-controller='TodoCtrl')
      include header
      .content
        block content
    include footer
      
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js')
    script(src='scripts/app.js')
    script(src='scripts/controllers/todoCtrl.js')