section
  div.empty-list(ng-hide="todos.length") 
    span.fa-stack.fa-5x
      i.fa.fa-circle-thin.fa-stack-2x
      i.fa.fa-warning.fa-stack-1x
    h3  Add a task to get started.
  div(ng-show="todos.length")
    ol
      li(ng-repeat='todo in todos | filter: statusFilter track by $index', ng-class='{complete: todo.done, editing: todo == editingTodo}')
        div(class='view')
          span(ng-click='editTodo(todo)') {{todo.name}}
          div.done-checkbox
            input(type='checkbox', ng-model='todo.done' id='todo-{{todo._id}}' ng-change='updateTodo(todo)')
            label(for='todo-{{todo._id}}')
        div.modify
          form(ng-submit='finishEditing(todo)', ng-model='editingTodo')
            input.edit(ng-model='todo.name')
          button.delete.fa.fa-trash(class='delete', ng-click='removeTodo(todo)')