section
  h3: span {{subTitle}}
  div(ng-show="todos.length")
    h5 completed?
    ol
      li(ng-repeat='todo in todos | filter: statusFilter track by $index', ng-class='{complete: todo.done, editing: todo == editingTodo}')
        div(class='view')
          span(ng-click='editTodo(todo)') {{todo.name}}
          div.done-checkbox
            input(type='checkbox', ng-model='todo.done' id='todo-{{todo._id}}' ng-change='updateTodo(todo)')
            label(for='todo-{{todo._id}}')
        div.modify
          form(ng-submit='finishEditing(todo)', ng-model='editingTodo')
            input.edit(ng-model='todo.name')
          button.delete.fa.fa-remove(class='delete', ng-click='removeTodo(todo)')