extends layout
block content
  .narrow
    h2 Login to Your Account
    p.social-login
      a(href="#").facebook
        i.fa.fa-facebook.fa-3x
      a(href="#").twitter
        i.fa.fa-twitter.fa-3x
      a(href="#").google-plus
        i.fa.fa-google-plus.fa-3x
    p.or
      span Or
    if message
      p(class='msg-#{message.type}')
        i.fa(class='fa-#{message.type}')
        span= ' ' + message.text
    form.auth(method='post' action='/login')
      label(for='email')
        input(name='email', placeholder='Email', type='email' required)
        i.fa.fa-at.fa-2x
      label(for='password')
        input(type='password' name='password', placeholder='Password' required)
        i.fa.fa-lock.fa-2x
      button.button login
      a.button.secondary(href='/signup') sign up